:root {
	--dark: #1d2d50;
	--darkish: #2e4068;
	--light: #fad4af;
	--white: #ffffff;
	--pale: #57b0ce;
	--nav-height: 100px;
	--nav-scroll-height: 70px;
	--transition: 400ms;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: "Roboto", sans-serif;
	overflow-x: hidden;
	font-size: 16px;
	background-color: var(--dark);
	letter-spacing: 0.02em;
}

body::-webkit-scrollbar {
	width: 0.5rem;
}

body::-webkit-scrollbar-track {
	background: var(--dark);
}

body::-webkit-scrollbar-thumb {
	background: var(--white);
	border-radius: 10px;
}

.text-light {
	color: var(--light);
}

.text-white {
	color: var(--white);
}

.text-secondary {
	color: var(--pale);
}

h1 {
	font-size: 4em;
}

/* =============== HEADER =============== */

header {
	width: 100%;
	height: var(--nav-height);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.header-container {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5em;
}

.large-nav {
	display: flex;
	width: 400px;
	justify-content: space-evenly;
}

nav li {
	list-style: none;
}

nav a {
	text-decoration: none;
	color: var(--light);
	transition: all ease var(--transition);
}

nav a:hover {
	color: var(--white);
	transition: all ease var(--transition);
}

#menu-bar {
	width: 25px;
	display: none;
	cursor: pointer;
}

.mobile-nav {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background-color: var(--dark);
}

.close {
	cursor: pointer;
	color: var(--light);
	transition: all ease var(--transition);
}

.close:hover {
	color: var(--white);
	transition: all ease var(--transition);
}

/* =============== LOADER =============== */

.loader {
	width: 100%;
	min-height: 100vh;
	background-color: var(--dark);
	position: absolute;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	position: absolute;
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	animation: fadeIn 0.75s linear forwards;
	animation-delay: 1s;
	font-size: 9em;
	color: var(--light);
}

.circle {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: stroke 2s ease-out forwards;
}

@keyframes stroke {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

/* =============== LANDING =============== */

#landing {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.landing-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-width: 50%;
	min-height: 30em;
	margin: 5em;
}

.btn-contact {
	width: 150px;
	height: 50px;
	background-color: transparent;
	border: 2px solid var(--pale);
	color: var(--pale);
	border-radius: 5px;
	font-size: 1.15em;
	cursor: pointer;
	transition: all ease var(--transition);
}

.btn-contact:hover {
	background-color: #57b0ce23;
	transition: all ease var(--transition);
}

.textbox {
	max-width: 35em;
}

/* =============== ABOUT =============== */

#about {
	width: 100%;
	min-height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark);
}

.about-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	max-width: 80%;
	min-height: 80vh;
	margin: 0 5em 5em 5em;
	opacity: 0;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 35%;
	min-height: 30em;
	margin: auto 2em;
}

.languages-list {
	display: flex;
	width: 60%;
	justify-content: space-between;
	margin-left: 10px;
	color: var(--pale);
}

.language li {
    margin-top: 7px;
}

#about li {
	list-style-type: "▹";
	padding-left: 10px;
}

.profile-pic img {
	width: 100%;
}

.profile-pic {
	width: 35rem;
	height: auto;
	z-index: 1;
	position: relative;
}

.outline {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 35rem;
	height: 300px;
	border: 2px solid var(--light);
	z-index: -1;
	transition: all ease var(--transition);
}

.profile-pic:hover .outline {
	top: 15px;
	left: 15px;
	transition: all ease var(--transition);
}

/* =============== WORK =============== */

#work {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title-box {
	text-align: center;
	padding-top: 100px;
	margin: 30px auto;
	opacity: 0;
}

.work-container {
	width: 55%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

.project-wrapper {
	margin: 75px;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 400px;
	align-items: center;
	box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.5);
	padding: 0 20px;
	opacity: 0;
}

.project-img {
	position: relative;
	grid-column: 1 / 4;
	grid-row: 1;
}

.project-img img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.project-content {
	grid-column: 3 / 7;
	grid-row: 1;
	height: 80%;
	text-align: right;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-end;
}

.project-info {
	background-color: var(--light);
	box-shadow: 2px 2px 10px rgb(71, 71, 71);
	border-radius: 10px;
	padding: 15px;
}

.project-languages {
	color: var(--pale);
	display: flex;
	width: 100%;
	justify-content: end;
}

.language-item {
    margin: 0 10px;
}

.iconify {
	width: 30px;
	height: 30px;
	padding: 5px;
	color: var(--white);
	transition: all ease var(--transition);
}

.iconify:hover {
	color: var(--pale);
	transition: all ease var(--transition);
}

/* EVEN */

.project-content-even {
	grid-column: 1 / 5;
	grid-row: 1;
	height: 80%;
	text-align: left;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.project-img-even {
	position: relative;
	grid-column: 4 / 7;
	grid-row: 1;
}

.project-languages-even {
    color: var(--pale);
	display: flex;
	width: 100%;
	justify-content: start;
}

/* =============== CONTACT =============== */

#contact {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-container {
	position: relative;
	opacity: 0;
	text-align: center;
}

.form-title {
	margin: 20px 0;
}

.form-container {
	background-color: var(--dark);
	box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.5);
	min-height: 700px;
	width: 30rem;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
}

.form-outline {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 30rem;
	min-height: 700px;
	border: 2px solid var(--light);
	z-index: -1;
}

form {
	min-height: 550px;
	width: 90%;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.form-text {
	background-color: transparent;
	border: none;
	border-top: 1px solid var(--light);
	font-family: "Roboto", sans-serif;
	padding: 10px;
	color: var(--white);
}

.submit-btn {
	width: 150px;
	height: 50px;
	margin-bottom: 20px;
	background-color: transparent;
	border: 2px solid var(--pale);
	color: var(--pale);
	border-radius: 5px;
	font-size: 1.15em;
	cursor: pointer;
	transition: all ease var(--transition);
}

.submit-btn:hover {
	background-color: #57b0ce23;
	transition: all ease var(--transition);
}

.copyright {
	margin-top: 100px;
}

/* =============== MEDIA ADJUSTMENTS ===========================*/

@media only screen and (max-width: 1500px) {
	.work-container {
		width: 80%;
	}

	.text {
		width: 80%;
	}
}

@media only screen and (max-width: 1000px) {
	.outline {
		display: none;
	}

	.work-container {
		width: 100%;
	}

	.project-img,
	.project-img-even {
		grid-column: 2 / 6;
		opacity: 0.5;
	}

	.project-content,
	.project-content-even {
		grid-column: 2 / 6;
		padding: 20px;
		justify-content: space-evenly;
	}

	.project-wrapper {
		margin: 10px;
		padding: 10px;
	}
}

@media only screen and (max-width: 700px) {
	.title-box {
		margin: 10px auto;
	}

	.project-img,
	.project-img-even {
		grid-column: 1 / 7;
	}

	.project-content,
	.project-content-even {
		grid-column: 1 / 7;
		padding: 10px;
	}

	.project-wrapper {
		margin: 0px;
		padding: 0px;
		box-shadow: none;
	}

	.large-nav {
		display: none;
	}

	#menu-bar {
		display: block;
	}

	.contact-container {
		width: 90%;
	}

	.form-container,
	.form-outline {
		width: 100%;
		margin-bottom: 10px;
	}
}
